<div class="popular-routes-container">
  <h4 class="font-medium">Popular Routes</h4>
  <drag-scroll [scrollbar-hidden]="true" [scroll-x-wheel-enabled]="true">
    <div drag-scroll-item class="route-item">
      <img
        src="https://travel-bus-files.s3.ap-southeast-1.amazonaws.com/images/f2de3346-19dd-451a-9e97-1afd8fc42dd6.jpeg"
        alt="Cover"
      />
      <div class="content">
        <div class="locations flex align-items-center gap-2">
          <h6 class="m-0">Hội An</h6>
          <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
          <h6 class="m-0">Đà Nẵng</h6>
        </div>
        <p>From 3.83 USD</p>
      </div>
    </div>
    <div drag-scroll-item class="route-item">
      <img
        src="https://travel-bus-files.s3.ap-southeast-1.amazonaws.com/images/445132c7-97d6-402a-829a-3bcd032105fa.png"
        alt="Cover"
      />
      <div class="content">
        <div class="locations flex align-items-center gap-2">
          <h6 class="m-0">Đà Lạt</h6>
          <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
          <h6 class="m-0">BX Miền Tây, Hồ Chí Minh</h6>
        </div>
        <p>From 12.39 USD</p>
      </div>
    </div>
    <div drag-scroll-item class="route-item">
      <img
        src="https://travel-bus-files.s3.ap-southeast-1.amazonaws.com/images/83f01008-67cf-4ad0-8ca9-7c36ad581195.png"
        alt="Cover"
      />
      <div class="content">
        <div class="locations flex align-items-center gap-2">
          <h6 class="m-0">Hà Nội</h6>
          <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
          <h6 class="m-0">Sapa</h6>
        </div>
        <p>From 13.27 USD</p>
      </div>
    </div>
    <div drag-scroll-item class="route-item">
      <img
        src="https://travel-bus-files.s3.ap-southeast-1.amazonaws.com/images/e721e32f-d161-42f9-b412-1fde161884a4.jpeg"
        alt="Cover"
      />
      <div class="content">
        <div class="locations flex align-items-center gap-2">
          <h6 class="m-0">Hà Nội</h6>
          <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
          <h6 class="m-0">Ninh Bình</h6>
        </div>
        <p>From 8.85 USD</p>
      </div>
    </div>
    <div drag-scroll-item class="route-item">
      <img
        src="https://travel-bus-files.s3.ap-southeast-1.amazonaws.com/images/4dd5fae2-9ae4-4129-af37-015223795d33.jpeg"
        alt="Cover"
      />
      <div class="content">
        <div class="locations flex align-items-center gap-2">
          <h6 class="m-0">Huế</h6>
          <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
          <h6 class="m-0">Hội An</h6>
        </div>
        <p>From 13.01 USD</p>
      </div>
    </div>
  </drag-scroll>
</div>
