<div class="popular-routes-container flex flex-column gap-4">
  <h4 class="font-medium">{{ popularRoutesTitle }}</h4>
  <drag-scroll [scrollbar-hidden]="true" [scroll-x-wheel-enabled]="true">
    <ng-container *ngIf="popularRoutes$ | async as popularRoutes">
      <ng-container *ngFor="let route of popularRoutes">
        <div drag-scroll-item class="route-item">
          <img src="{{ route.image }}" alt="Cover" />
          <div class="content">
            <div class="locations flex align-items-center gap-2">
              <h6 class="m-0">{{ route.departAt }}</h6>
              <i class="pi pi-arrow-right" style="font-size: 0.8rem"></i>
              <h6 class="m-0">{{ route.returnAt }}</h6>
            </div>
            <p>From {{ route.price }} USD</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </drag-scroll>
</div>
