<div class="questions-container">
  <div class="header">
    <div class="lg:ml-2 title -mr-8">
      <h1 class="text-white lg:font-bold lg:text-6xl text-4xl w-full font-medium">Frequently Asked Questions</h1>
      <h4 class="text-white lg:text-2xl text-xl font-normal lg:font-medium mt-2">Last updated: 28 March 2023</h4>
    </div>
  </div>

  <div class="content xl:mx-6 xl:mt-4 lg:flex m-auto gap-5 font-normal md:block px-3 py-4 lg:px-8">
    <div class="main flex-1 w-full mb-3 px-3 py-2 lg:px-5 xl:px-6 xl:py-5">
      <p-accordion [multiple]="true" [activeIndex]="-1">
        <div class="mb-4 mt-3 item">
          <div class="item__header">
            <p-accordionTab header="How do I book tickets?" iconPos="end">
              <div class="item__description">
                <p class="font-medium">Contact hotline number or website</p>
                <p>
                  The easiest way to book a trip is to call our hotline: 1900.25.25.65 or contact us via Whatsapp:
                  +84.949.2000.55 or you can contact us via the website: Home - Viet Nam Travel Bus. Here's how you can
                  book with Viet Nam Travel Bus:
                </p>
                <ul class="list-none">
                  <li class="mx-0">1. Choose your departure and destination</li>
                  <li class="mx-0">2. Select your travel date(s)</li>
                  <li class="mx-0">3. Add the number of passengers (adults, children)</li>
                </ul>
                <p>
                  Please leave your mobile number along with your email so we can confirm your booking as well as your
                  trip changes (if any).
                </p>
                <p class="font-medium">Travel agents and ticket shops</p>
                <p>
                  You can buy tickets at our partners, they can be travel agencies, passenger transport units,
                  guides…but be aware that with some partners you may be charged additional fees for service.
                </p>
              </div>
            </p-accordionTab>
          </div>
        </div>
        <div class="mb-4 item">
          <div class="item__header">
            <p-accordionTab
              header="Where can I find more information about my connections, such as stops or destination locations?"
              iconPos="end"
            >
              <div class="item__description">
                <p>
                  To find the location of a stop or where the bus stops along a particular route, the major stops would
                  be:
                </p>
                <ul>
                  <li>In Hoi An : 190 Ton Duc Thang, Hoi An</li>
                  <li>In Da Nang : 15 Thanh Luong 25 / 233 Nguyen Van Thoai or 38 Nguyen Tri Phuong</li>
                  <li>In Hue: Mayla cafe( 37b Nguyen Thai Hoc, Hue)</li>
                </ul>
              </div>
            </p-accordionTab>
          </div>
        </div>
        <div class="mb-4 item">
          <div class="item__header">
            <p-accordionTab header="How can I find my route?" iconPos="end">
              <div class="item__description">
                <p>All routes can be found and booked in advance</p>
                <ul>
                  <li>On the website:: www.TravelBus.vn</li>
                </ul>
              </div>
            </p-accordionTab>
          </div>
        </div>
      </p-accordion>
      <p>
        Do not hesitate to
        <a href="">contact us</a>
        immediately to get all your questions answered! answered!
      </p>
    </div>
    <div class="menu max-h-20rem md:px-4 lg:px-6 lg:py-6">
      <h3 class="lg:text-3xl md:mb-4 text-2xl mb-3">Other policies</h3>
      <div class="policy-list flex flex-column">
        <div class="policy-item">
          <a href=""><span class="label">Booking Policy</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Customer's Rights</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Privacy Policy</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Baggage Regulations</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
