@import "../../layouts/policy/policy.component.scss";

.questions-container {
  background-color: #f7f8fa;
  border-bottom: 0.0625rem solid #e1e1e1;
  font-size: 1.2rem;
  color: black;
  .header {
    background-image: url("/assets/images/services/policies/questions.png") !important;
    background-position: center center !important;
    @include base-header;
    .title {
      margin-left: -9rem;
    }
  }
  .content {
    padding: 2.5rem 0;
    padding-left: calc((100vw - 1312px) / 2);
    padding-right: calc((100vw - 1312px) / 2);
    .main {
      background-color: white;
      p {
        padding: 0.5rem 0;
      }
      ul {
        padding: 0;

        margin: 0.5rem 0;
        li {
          margin: 0.4rem 1.3rem;
          padding: 0;
        }
      }
      .item {
        .item__header {
          font-size: 1.135rem;
          font-weight: 600;
        }

        .item__description {
          font-weight: 380;
        }
      }
    }
    .menu {
      @include base-policy-list;
    }
  }
}
