<div>
  <ng-container *ngIf="!news; else newsTemplate">
    <div class="news-container">
      <div class="header">
        <div class="title lg:ml-2">
          <h1 class="text-white lg:font-bold lg:text-6xl text-4xl font-medium">News</h1>
          <h4 class="text-white mt-1 lg:text-2xl text-lg font-normal lg:font-medium">
            Get updated with Vietnam Travel Bus news & promotions
          </h4>
        </div>
      </div>
      <div class="content-news w-full mb-3 px-3 py-2 lg:px-5 xl:py-5 container m-auto">
        <div class="latest-news">
          <div class="main">
            <h2 class="text-center my-0 text-black mb-3">LATEST NEWS</h2>
            <h4 class="text-center my-0 text-gray-700">Get updated with Vietnam Travel Bus news & promotions</h4>
          </div>
          <ng-container *ngIf="listNews$ | async as latestNews">
            <p-carousel [value]="latestNews" [numVisible]="3" styleClass="default-carousel">
              <ng-template let-news pTemplate="item">
                <div class="news-item">
                  <a [routerLink]="['/news']" [queryParams]="{ slug: news.slug }">
                    <img src="{{ news.images ? news.images[0] : '/assets/images/news/news.gif' }}" alt="news-image" />
                    <div class="news-item__content flex flex-column">
                      <h5>{{ news.title }}</h5>
                      <p class="date">{{ news.date | date: "dd-MM-yyyy" }}</p>
                    </div>
                  </a>
                </div>
              </ng-template>
            </p-carousel>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #newsTemplate>
    <div class="news-container">
      <div
        class="header1"
        style="background-image: url('{{ imagesNews }}'); background-position: center center; background-size: cover;"
      ></div>

      <div class="main">
        <div class="content">
          <h2 class="title lg:text-5xl text-3xl">{{ news.title }}</h2>
          <h5 class="date">{{ news.date }}</h5>

          <div class="table-content mb-5">
            <h4>TABLE CONTENT</h4>
            <div class="" [innerHTML]="news.description"></div>
          </div>

          <div class="tags mt-8">
            <p>Tag:</p>
            <div *ngFor="let items of listTags" class="">
              <div class="tag">
                {{ items.name }}
              </div>
            </div>
          </div>

          <div class="block-booking flex flex-column gap-5">
            <div class="block-booking__content flex flex-column gap-2">
              <h4>Ready to book?</h4>
              <p class="text-lg">
                At our service, we believe that quality is the key to a great journey. We are proud to offer our
                passengers an exceptional travel experience that begins with our commitment to service quality.
              </p>
              <p class="text-lg">
                So why wait? Book now and experience the difference for yourself. With our commitment to service
                quality, you can rest assured that you'll be traveling in comfort and style with the best in the
                business.
              </p>
            </div>
            <div class="block-booking__button col-4 p-0">
              <p-button label="Book Now" class="full-width-button w-full sm:w-auto"></p-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
