<app-empty-layout>
  <div class="news-container">
    <div class="news-banner-container w-full flex justify-content-center text-center align-items-end">
      <p class="news-banner-title">Hello summer with Travel Bus Vietnam! Discount 20% off for the new routes</p>
    </div>
    <div class="news-wrap-content">
      <div class="news-timeline">
        <p>20 October 2023</p>
      </div>
      <div class="news-wrap-description">
        <div class="news-description">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum
          </span>
        </div>
        <div class="news-description-images flex grid">
          <div class="image-container flex sm:col-12 lg:col-4 overflow-hidden">
            <img class="w-full" src="/assets/images/about/about-1.png" alt="">
          </div>
          <div class="image-container flex sm:col-12 lg:col-4 overflow-hidden">
            <img class="w-full" src="/assets/images/about/about-2.png" alt="">
          </div>
          <div class="image-container flex sm:col-12 lg:col-4 overflow-hidden">
            <img class="w-full" src="/assets/images/about/about-3.png" alt="">
          </div>
        </div>
        <div class="news-description">
          <span>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
            sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore
            magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
            ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
            nulla pariatur?
          </span>
        </div>
        <div class="news-description-with-image flex">
          <div class="news-description-with-image-image-cover flex col-6">
            <img class="w-full" src="/assets/images/about/about-7.jfif" alt="">
          </div>
          <div class="news-description-with-image-content-cover flex align-items-center">
            <span>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
            facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
            impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
            repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et
            voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus,
            ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
            </span>
          </div>
        </div>
        <div class="news-description">
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
          </span>
        </div>
        <div class="news-tag flex align-items-center">
          <p class="pr-2">Tag:</p>
          <span class="badge">Hoi An</span>
          <span class="badge">Ha Noi</span>
          <span class="badge">Da Nang</span>
          <span class="badge">HappyTriip</span>
          <span class="badge">Ho Chi Minh</span>
          <span class="badge">Hue</span>
        </div>
      </div>
    </div>
 
    <div class="latest-news">
      <div class="main">
        <h2 class="text-center my-0 text-primary">LATEST NEWS</h2>
        <h4 class="text-center my-0 text-color-secondary">Get updated with Vietnam Travel Bus news & promotions</h4>
      </div>
      <p-carousel [value]="latestNews" [numVisible]="3" styleClass="default-carousel">
        <ng-template let-news pTemplate="item">
          <div class="news-item">
            <img src="/assets/images/news/news-{{ news.id }}.jpg" [alt]="'news-' + news.id" />
            <div class="news-item__content flex flex-column">
              <h5>{{ news.title }}</h5>
              <p>{{ news.date }}</p>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</app-empty-layout>
<app-footer></app-footer>
<app-copyright></app-copyright>