
    <app-empty-layout>
      <div>
        <div class="how-to-book-container">
          <div class="header">
            <div class="lg:ml-2 title">
              <h1 class="text-white lg:font-bold lg:text-6xl text-4xl font-medium">How to book ticket</h1>
              <h4 class="text-white mt-1 lg:text-2xl text-lg font-normal lg:font-medium">
                Booking tickets through Travelbus.vn is a simple and hassle-free process, ensuring an enjoyable travel experience for you.
              </h4>
            </div>
          </div>
          </div>
          </div>

<app-footer></app-footer>
<app-copyright></app-copyright>
