<div class="footer-container grid m-0 flex justify-content-between">
  <div class="information sm:col-12 lg:col-4 flex flex-column">
    <div class="company-name">
      <h3 class="text-primary">VIET NAM TRAVEL BUS</h3>
    </div>
    <div class="contact address">
      <p class="label">Head Office:</p>
      <p class="value">221 Vo Van Ninh, Da Nang City</p>
    </div>
    <div class="contact address">
      <p class="label">Hoi An Office:</p>
      <p class="value">190 Ton Duc Thang, Hoi An City</p>
    </div>
    <div class="contact">
      <p class="label">Email:</p>
      <p class="value">support@travelbus.vn</p>
    </div>
    <div class="contact">
      <p class="label">Hotline:</p>
      <p class="value">1900252565</p>
    </div>
    <div class="contact">
      <p class="label">Whatsapp/ Hotline:</p>
      <p class="value">+84812995715</p>
    </div>
  </div>
  <div class="subscribe-and-media sm:col-12 lg:col-4 flex flex-column justify-content-between">
    <div class="subscribe">
      <div class="content">
        <strong class="text-2xl font-medium">SUBSCRIBE US</strong>
        <p class="text-600">To get the latest news and promotion!</p>
      </div>
      <div class="form flex flex-column">
        <input type="text" pInputText [(ngModel)]="value" placeholder="Enter your email" />
        <p-button label="Subscribe" class="full-width-button w-full sm:w-auto"></p-button>
      </div>
    </div>
    <div class="media">
      <strong class="text-2xl font-medium">FOLLOW US ON SOCIAL MEDIA</strong>
      <div class="media-list flex">
        <a href="https://www.facebook.com/vietnamtravelbus" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/facebook.svg" alt="facebook" />
        </a>
        <a href="https://www.youtube.com/channel/UC2h98iN7Xq353ui_SsBh4wQ" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/youtube.svg" alt="youtube" />
        </a>
        <a
          href="https://api.whatsapp.com/send/?phone=%2B84812995715&text&type=phone_number&app_absent=0"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/whatsapp.svg" alt="whatsapp" />
        </a>
        <a href="https://zalo.me/441616692097527096" target="_blank" rel="noopener noreferrer">
          <img src="/assets/icons/zalo.svg" alt="zalo" />
        </a>
        <a
          href="https://www.tripadvisor.com/Attraction_Review-g298085-d24826354-Reviews-Viet_Nam_Travel_Bus-Da_Nang.html"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/assets/icons/tripadvisor.svg" alt="tripadvisor" />
        </a>
        <img src="/assets/icons/google.svg" alt="google" />
      </div>
    </div>
  </div>
  <div class="policy sm:col-12 lg:col-3 lg:col-offset-1 flex flex-column">
    <div class="policy-list flex flex-column">
      <strong class="text-2xl font-medium">Policy</strong>
      <div class="policy-item">
        <a (click)="onNavigate('/services/policy/booking-policy')">
          <span class="label">Booking Policy</span>
        </a>
      </div>
      <div class="policy-item">
        <a (click)="onNavigate('/services/policy/customer-rights')"><span class="label">Customer's Rights</span></a>
      </div>
      <div class="policy-item">
        <a (click)="onNavigate('/services/policy/privacy-policy')"><span class="label">Privacy Policy</span></a>
      </div>
      <div class="policy-item">
        <a (click)="onNavigate('/services/policy/baggage-regulations')">
          <span class="label">Baggage Regulations</span>
        </a>
      </div>
      <div class="policy-item">
        <a (click)="onNavigate('/services/policy/questions')"><span class="label">Frequently Asked Questions</span></a>
      </div>
    </div>
    <a href="http://online.gov.vn/Home/WebDetails/103473" target="_blank" rel="noopener noreferrer" class="logo">
      <img src="assets/icons/bo-cong-thuong-logo.png" alt="Bo cong thuong" />
    </a>
  </div>
</div>
