<div class="route-overview p-4 g-4">
  <div class="route-header">
    <div class="vehicle flex align-items-center w-auto">
      <img [src]="'assets/icons/' + (route.transport['type'] | lowercase) + '.svg'" alt="Vehicle type" />
      <span>{{ route.transport["name"] }}</span>
      <span>({{ "share.vehicleType." + getKey(route.transport["type"], vehicleType) | translate }})</span>
    </div>
  </div>
  <div class="route-item">
    <div class="content flex justify-content-between gap-4">
      <div class="route-detail">
        <div class="stations flex flex-column">
          <div class="departure flex align-items-center">
            <i class="pi pi-map-marker"></i>
            <div class="departure__time">
              {{ getTime(parseTimeStringToDateString(route.departAt)) }}
            </div>
            <div class="dot"></div>
            <div class="departure__name">
              {{ route.fromAt["name"] }}
            </div>
            <div class="departure__link">
              <a href="{{ route.fromAt['gmapLink'] }}" target="_blank">View on map</a>
            </div>
          </div>
          <div class="time-estimate flex gap-3 align-items-center">
            <div class="dashed"></div>
            <span>{{ getHoursDifference(route.departAt, route.arriveAt) }} hour(s) ride</span>
            <div class="dot"></div>
            <div class="partner">Operated by {{ route.partner["name"] }}</div>
          </div>
          <div class="arrive flex align-items-center">
            <i class="pi pi-map-marker"></i>
            <div class="arrive__time">
              {{ getTime(parseTimeStringToDateString(route.arriveAt)) }}
            </div>
            <div class="dot"></div>
            <div class="arrive__name">
              {{ route.toAt["name"] }}
            </div>
            <div class="arrive__link">
              <a href="{{ route.toAt['gmapLink'] }}" target="_blank">View on map</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tables flex gap-4">
    <div class="flex-1">
      <p-table [value]="route.pickUpPoints" styleClass="p-datatable-gridlines p-datatable-sm">
        <ng-template pTemplate="caption">Pick up points</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50%">Time</th>
            <th style="width: 50%">Address</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-point>
          <tr>
            <td>{{ getTime(parseTimeStringToDateString(point.time)) }}</td>
            <td>{{ point.address }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="flex-1">
      <p-table [value]="route.dropOffPoints" styleClass="p-datatable-gridlines p-datatable-sm">
        <ng-template pTemplate="caption">Drop off points</ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 50%">Time</th>
            <th style="width: 50%">Address</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-point>
          <tr>
            <td>{{ getTime(parseTimeStringToDateString(point.time)) }}</td>
            <td>{{ point.address }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
