<div class="card flex flex-column justify-content-center align-items-center h-full gap-4 p-2">
  <p-listbox
    [options]="transports$ | async"
    [(ngModel)]="currentTransport"
    optionLabel="name"
    [filter]="true"
    [filterPlaceHolder]="'Search transport'"
    class="listbox-border-none w-full h-full border-none"
    [listStyle]="{ 'max-height': '450px' }"
    (onChange)="handleChangeSelectedTransport()"
  ></p-listbox>
  <p-button
    label="Add Transport"
    icon="pi pi-plus"
    class="full-width-button w-full text-xl"
    (onClick)="handleAddTransport()"
  ></p-button>
</div>
