<app-empty-layout>
  <div class="about-container">
    <div class="about-banner w-full">
      <div class="about-banner-title flex flex-column">
        <span class="about-banner-title-1">About Vietnam Travel Bus</span>
        <span class="about-banner-title-2">A big company of high-quality vehicles that can take you everywhere in Vietnam!</span>
      </div>
    </div>

    <div class="container">
      <div class="container-wrapper">
        <div class="about-description">
          Welcome to Vietnam Travel Bus, the leading provider of high-quality travel buses in Vietnam. Our mission is to offer safe, comfortable, and reliable transportation for our customers, allowing them to explore the beauty and diversity of Vietnam in style.
        </div>
        <div class="about-description-images flex grid">
          <div class="image-container flex sm:col-12 lg:col-4 overflow-hidden">
            <img class="w-full" src="/assets/images/about/about-1.png" alt="">
          </div>
          <div class="image-container flex sm:col-12 lg:col-4 overflow-hidden">
            <img class="w-full" src="/assets/images/about/about-2.png" alt="">
          </div>
          <div class="image-container flex sm:col-12 lg:col-4 overflow-hidden">
            <img class="w-full" src="/assets/images/about/about-3.png" alt="">
          </div>
        </div>
        <div class="about-description">
          Vietnam is a country of breathtaking landscapes, ancient temples, bustling cities, and delicious cuisine. We believe that the best way to experience its wonders is by road, and our modern and well-maintained buses are designed to make your journey as smooth and enjoyable as possible.<br>
          At Vietnam Travel Bus, we pride ourselves on offering a wide range of travel options to suit every need and budget. Whether you're traveling alone, with family or friends, or in a large group, we have a vehicle that is perfect for you. Our fleet includes minibusses, standard coaches, and luxury coaches, all equipped with the latest amenities to ensure your comfort and convenience.<br>
          Our buses feature air conditioning, comfortable seating, and on-board entertainment systems, including Wi-Fi, TV, and audio systems. We also provide complimentary refreshments and snacks to keep you energized throughout your journey. And with our attentive and professional drivers, you can rest assured that you will arrive at your destination safely and on time.<br>
        </div>
        <div class="about-description-images flex grid m-0">
          <div class="image-container flex sm:col-12 lg:col-4 about-seat">
            <img class="w-full" src="/assets/images/about/about-4.png" alt="">
          </div>
          <div class="image-container sm:col-12 lg:col-4 about-seat">
            <img class="w-full" src="/assets/images/about/about-5.png" alt="">
          </div>
          <div class="image-container sm:col-12 lg:col-4 about-seat">
            <img class="w-full" src="/assets/images/about/about-6.png" alt="">
          </div>
        </div>
        <div class="about-description">
          At Vietnam Travel Bus, we understand that every journey is unique, and we are committed to providing customized travel solutions to meet your specific needs. Our team of experts is available to help you plan your trip, from choosing the right vehicle to designing your itinerary and providing insider tips on the best places to visit in Vietnam.
        </div>
        <div class="about-description-with-image flex">
          <div class="about-description-with-image-image-cover flex col-6">
            <img class="w-full" src="/assets/images/about/about-7.jfif" alt="">
          </div>
          <div class="about-description-with-image-content-cover">
            At Vietnam Travel Bus, we understand that every journey is unique, and we are committed to providing customized travel solutions to meet your specific needs. Our team of experts is available to help you plan your trip, from choosing the right vehicle to designing your itinerary and providing insider tips on the best places to visit in Vietnam.
Whether you're looking to explore the historic cities of Hanoi and Ho Chi Minh City, admire the stunning scenery of Ha Long Bay or the Mekong Delta, or immerse yourself in the culture and traditions of the Vietnamese people, we are here to make your journey unforgettable.
          </div>
        </div>
        <div class="about-description">
          So why wait? Book your travel bus with Vietnam Travel Bus today and experience the best that Vietnam has to offer!
        </div>
        <div class="block-booking">
          <div class="block-booking-content">
            <h4>Ready to book?</h4>
            <p>
              At our service, we believe that quality is the key to a great journey. We are proud to offer our passengers an exceptional travel experience that begins with our commitment to service quality.
            </p>
            <p>
              So why wait? Book now and experience the difference for yourself. With our commitment to service quality, you can rest assured that you'll be travelling in comfort and style with the best in the business.
            </p>
            <div class="block-booking-button">
              <button>Book Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-empty-layout>
<app-footer></app-footer>
<app-copyright></app-copyright>
