<div class="booking-search-form-container">
  <img src="/assets/images/booking.jpg" alt="Cover" />
  <div class="card">
    <div class="select-button">
      <p-selectButton
        [options]="bookingOptions"
        [(ngModel)]="selectedBookingOption"
        optionLabel="name"
        optionValue="value"
        (onChange)="onBookingOptionChange()"
      ></p-selectButton>
    </div>
    <form [formGroup]="bookingSearchForm">
      <div class="location flex">
        <div class="from flex flex-column flex-1">
          <p class="font-medium my-3">From</p>
          <p-dropdown
            [options]="locations"
            formControlName="firstCity"
            optionLabel="name"
            optionValue="value"
            [showClear]="true"
            placeholder="From"
            [filter]="true"
            [filterBy]="'name'"
            class="full-width-dropdown"
          >
            <ng-template let-location pTemplate="selectedItem">
              <div class="flex align-items-center gap-2">
                <i class="pi pi-map-marker"></i>
                <div>{{ location.name }}</div>
              </div>
            </ng-template>

            <ng-template let-location pTemplate="item">
              <div class="flex align-items-center gap-2">
                <i class="pi pi-map-marker"></i>
                <div>{{ location.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
        <div class="to flex flex-column flex-1">
          <p class="font-medium my-3">To</p>
          <p-dropdown
            [options]="locations"
            formControlName="secondCity"
            optionLabel="name"
            optionValue="value"
            [showClear]="true"
            placeholder="To"
            [filter]="true"
            [filterBy]="'name'"
            class="full-width-dropdown"
          >
            <ng-template let-location pTemplate="selectedItem">
              <div class="flex align-items-center gap-2">
                <i class="pi pi-map-marker"></i>
                <div>{{ location.name }}</div>
              </div>
            </ng-template>

            <ng-template let-location pTemplate="item">
              <div class="flex align-items-center gap-2">
                <i class="pi pi-map-marker"></i>
                <div>{{ location.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="dates flex">
        <div class="depart-date flex flex-column flex-1">
          <p class="font-medium my-3">Depart Date</p>
          <p-calendar
            formControlName="firstDt"
            class="w-full sm:w-auto"
            styleClass="w-full"
            [showIcon]="true"
            [showButtonBar]="true"
            [dateFormat]="datePickerFormat"
            class="full-width-calendar"
            [minDate]="today"
            [maxDate]="secondDt?.value"
          ></p-calendar>
        </div>
        <div class="return-date flex flex-column flex-1" *ngIf="selectedBookingOption === 'ROUND_TRIP'">
          <p class="font-medium my-3">Return Date</p>
          <p-calendar
            formControlName="secondDt"
            class="w-full sm:w-auto"
            styleClass="w-full"
            [showIcon]="true"
            [showButtonBar]="true"
            [dateFormat]="datePickerFormat"
            class="full-width-calendar"
            [minDate]="firstDt?.value || today"
          ></p-calendar>
        </div>
      </div>
      <div class="passengers-container flex">
        <div class="action flex-1 align-self-end">
          <p-button
            label="Search Ticket"
            styleClass="p-button-secondary "
            class="full-width-button w-full sm:w-auto"
            (click)="searchTicket()"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
