.booking-search-form-container {
  position: relative;
  width: 100%;

  img {
    position: relative;
    top: 0;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    height: 21.5rem;
    z-index: 0;
  }

  .card {
    position: relative;
    margin: -6rem auto 0;
    max-width: 1300px;
    background: #ffffff;
    padding: 2.5em;
    border: 1px solid #e1e1e1;
    border-radius: 0.5em;

    .select-button {
      position: absolute;
      left: 2rem;
      top: -1.125rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.25em;
      gap: 0.5em;
      background: #f7f8fa;
      border: 1px solid #e1e1e1;
      border-radius: 0.25rem;
    }

    form {
      display: grid;
      grid-template-columns: 1.1fr 0.9fr 1fr;
      gap: 1em;

      .passengers-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
      }
    }
  }
}
