@mixin base-header {
  background-image: url(/assets/images/about-us.png);
  height: 21.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  color: #fff;
  padding: 3rem 10.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@mixin base-policy-list {
  background-color: #fcf4e5;
  padding: 2rem 3rem;
  color: black;
  .policy-list {
    gap: 1em;

    .policy-item {
      a {
        text-decoration: none;
        border-bottom: 1px dotted;
        cursor: pointer;
        color: #333;

        .label {
          font-size: 1.2rem;
        }
      }
    }
  }
}
