.card {
  .header {
    .vehicle,
    .seats-available {
      width: fit-content !important;
      gap: 0.375rem;
      padding: 0.25rem 0.75rem;
      border-radius: 1000px;

      img {
        width: 1.375rem;
      }
    }

    .vehicle {
      background: #eefae0;
    }
    .seats-available {
      background: #e1e1e1;
    }
  }

  .route-item {
    .content {
      padding: 1em 0 1.5em;

      .route-detail {
        .stations {
          .departure,
          .arrive {
            gap: 0.75em;
            line-height: 1.25rem;
            font-weight: 600;
            text-transform: capitalize;
            min-height: 1.875rem;

            i {
              color: var(--secondary-color);
            }

            .dot {
              width: 0.25rem;
              height: 0.25rem;
              background: #767676;
              border-radius: 50%;
            }

            .departure__link,
            .arrive__link {
              a {
                letter-spacing: 0.03125rem;
                color: #e6a027;
                cursor: pointer;
                text-decoration: underline;
              }
            }
          }

          .time-estimate {
            font-size: 0.9rem;
            line-height: 1rem;
            font-weight: 400;
            letter-spacing: 0.03125rem;
            color: var(--text-color-secondary);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            .dashed {
              min-height: 2.5rem;
              border-left: 1px dashed #767676;
              margin-left: 0.45rem;
            }

            .dot {
              width: 0.25rem;
              height: 0.25rem;
              background: #767676;
              border-radius: 50%;
            }
          }
        }
      }

      .price-container {
        display: grid;
        gap: 0.5em;
        margin-top: auto;

        .price {
          text-align: end;
        }

        .actions {
          gap: 0.5em;
        }
      }
    }
  }

  .utilities {
    border-top: 0.0625rem solid #e1e1e1;
    border-bottom: 0.0625rem solid #e1e1e1;
  }

  .utilities,
  .locations {
    padding: 1rem 1.5rem 0;
    margin: 0 -2rem;

    .tab-content {
      .address {
        gap: 0.75em;
        line-height: 1.25rem;
        font-weight: 600;
        text-transform: capitalize;
        min-height: 1.875rem;

        i {
          color: var(--secondary-color);
        }
      }

      .images {
        margin-top: 1.5rem;

        iframe {
          width: 25rem;
          height: 9rem;
          border-radius: 0.25rem;
        }
      }
    }
  }
}

.utilities-list {
  gap: 1em;

  .item {
    gap: 0.5em;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.03125rem;
  }
}
