<form [formGroup]="registerForm" (ngSubmit)="onRegister(registerForm)">
  <div class="content flex flex-column gap-2">
    <h2 class="title mx-auto mb-0 text-primary text-3xl font-bold">{{ userRole + " Sign up" | uppercase }}</h2>

    <div class="field mb-1">
      <label for="name" class="block text-900 text-lg font-medium mb-2">Name</label>
      <div class="input-container h-4rem">
        <input
          pInputText
          id="name"
          type="text"
          placeholder="Enter your name"
          class="w-full"
          formControlName="name"
          [ngClass]="{
            'ng-invalid ng-dirty': validate(name)
          }"
        />
        <small class="p-error" *ngIf="validate(name)">
          <strong>Name is required</strong>
        </small>
      </div>
    </div>

    <div class="field mb-1 grid">
      <div class="col">
        <label for="email" class="block text-900 text-lg font-medium mb-2">Email</label>
        <div class="input-container h-4rem">
          <input
            pInputText
            id="email"
            type="email"
            placeholder="Enter your email"
            class="w-full"
            formControlName="email"
            [ngClass]="{
              'ng-invalid ng-dirty': validate(email)
            }"
          />
          <small class="p-error" *ngIf="validate(email)">
            <strong>Email is required</strong>
          </small>
          <small class="p-error" *ngIf="email.hasError('email')">
            <strong>Email is invalid</strong>
          </small>
        </div>
      </div>

      <div class="col pl-0">
        <label for="phoneNumber" class="block text-900 text-lg font-medium mb-2">Phone number</label>
        <div class="input-container h-4rem">
          <input
            pInputText
            id="phoneNumber"
            type="text"
            placeholder="Enter your phone number"
            class="w-full"
            formControlName="phoneNumber"
            [ngClass]="{
              'ng-invalid ng-dirty': validate(phoneNumber)
            }"
          />
          <small class="p-error" *ngIf="validate(phoneNumber)">
            <strong>Phone number is required</strong>
          </small>
        </div>
      </div>
    </div>

    <div class="field mb-1">
      <label for="username" class="block text-900 text-lg font-medium mb-2">Username</label>
      <div class="input-container h-4rem">
        <input
          pInputText
          id="username"
          type="text"
          placeholder="Enter your username"
          class="w-full"
          formControlName="username"
          [ngClass]="{
            'ng-invalid ng-dirty': validate(username)
          }"
        />
        <small class="p-error" *ngIf="validate(username)">
          <strong>Username is required</strong>
        </small>
      </div>
    </div>

    <div class="field mb-1">
      <label for="password" class="block text-900 text-lg font-medium mb-2">Password</label>
      <div class="input-container h-4rem">
        <p-password
          id="password"
          placeholder="Enter your password"
          [toggleMask]="true"
          [feedback]="false"
          formControlName="password"
          styleClass="w-full rounded-lg border-gray-300 focus:ring focus:ring-primary"
          [ngClass]="{
            'ng-invalid ng-dirty': validate(password)
          }"
        ></p-password>
        <small class="p-error" *ngIf="validate(password)">
          <strong>Password is required</strong>
        </small>
      </div>
    </div>

    <div class="field mb-3">
      <label for="confirmPassword" class="block text-900 text-lg font-medium mb-2">Confirm Password</label>
      <div class="input-container h-4rem">
        <p-password
          id="confirmPassword"
          placeholder="Confirm your password"
          [toggleMask]="true"
          [feedback]="false"
          formControlName="confirmPassword"
          styleClass="w-full rounded-lg border-gray-300 focus:ring focus:ring-primary"
          [ngClass]="{
            'ng-invalid ng-dirty': validate(confirmPassword)
          }"
        ></p-password>
        <small class="p-error" *ngIf="validate(confirmPassword)">
          <strong>Confirm Password is required</strong>
        </small>
      </div>
    </div>

    <p-button label="Sign up" class="full-width-button text-xl" type="submit"></p-button>
    <ng-container *ngIf="userRole !== 'Employee'">
      <p>
        Already a {{ userRole }}?
        <a [routerLink]="['/auth/login']" [queryParams]="{ userRole: userRole.toLowerCase() }">Login</a>

      </p>
    </ng-container>
  </div>
</form>
