p-button {
  button {
    text-align: center;

    .p-button-icon {
      font-size: 1.5rem;
    }
  }
}

.full-width-button {
  button {
    width: 100%;
  }
}

.half-width-button {
  button {
    width: 50%;
    max-width: 576px;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}
