p-button {
  button {
    text-align: center;

    .p-button-icon {
      font-size: 1.2rem;
    }
  }
}

.full-width-button {
  button {
    width: 100%;
  }
}

.half-width-button {
  button {
    width: 50%;
    max-width: 576px;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.custom-user-button {
  button,
  button:enabled:hover {
    background-color: #fff;
    color: #68bb02;
    border: 1px solid;
  }
}
