@import "../../layouts/private-services/private-services.component.scss";

.airport-pick-up-container {
  background-color: #f7f8fa;
  border-bottom: 0.0625rem solid #e1e1e1;
  font-size: 1.2rem;
  line-height: 1.375rem;
  color: black;
  .header {
    background-image: url("/assets/images/services/private-services/airport.png") !important;
    background-position: center center !important;
    @include base-header;
  }

  .main {
    @include base-main;

    .content {
      @media (max-width: 959px) {
        .paragraphs {
          margin: -2.5rem 0;
        }
      }
      h3 {
        margin-top: -2rem;
      }
      .about-description-images {
        flex-direction: row;
        margin-bottom: 0;
        .image-container {
          padding-inline: 10px;
          object-fit: contain;
          image {
            width: auto;
            height: auto;
          }
        }
      }
      .list-item {
        @include base-list-regulations;
        @media (max-width: 959px) {
          margin-bottom: -1.5rem;
        }
      }
      .tags {
        @include base-tag;
      }
    }
  }
}
