<div class="transport-container">
  <app-transport-listbox
    (selectedTransport)="onSelectedTransportChange($event)"
    (isUpdateMode)="onUpdateModeChange($event)"
    (isTransportFormVisible)="onFormVisibleChange($event)"
  ></app-transport-listbox>
  <app-transport-form
    *ngIf="isTransportFormVisible"
    class="w-full"
    [selectedTransport]="currentTransport"
    [updateMode]="isUpdateMode"
    (cancelTransportForm)="cancelTransportForm($event)"
    (form)="handleTransportForm($event)"
  ></app-transport-form>
</div>
