<ng-container *ngIf="isEmployee; else notEmployee">
  <ng-container *ngIf="pendingRoutes$ | async as pendingRoutes">
    <div class="card surface-0 p-4">
      <h2 class="text-center mb-2">Pending route list</h2>
      <ng-container *ngIf="pendingRoutes.length > 0; else noRoutesAvailable">
        <div class="flex flex-wrap">
          <ng-container *ngFor="let route of pendingRoutes">
            <div class="col-12 lg:col-6 xl:col-4">
              <app-pending-route [route]="route" (click)="onPendingRouteClick(route)"></app-pending-route>
            </div>
          </ng-container>
        </div>
      </ng-container>
      <ng-template #noRoutesAvailable>No routes available.</ng-template>
    </div>
  </ng-container>
</ng-container>
<ng-template #notEmployee>
  <div class="route-container">
    <app-route-listbox
      (selectedRoute)="onSelectedRouteChange($event)"
      (isUpdateMode)="onUpdateModeChange($event)"
    ></app-route-listbox>
    <app-route-form
      *mcRerender="isSelectedRouteChangeTrigged && isFetchDone"
      class="w-full"
      [selectedRoute]="currentRoute"
      [updateMode]="isUpdateMode"
      (form)="handleRouteForm($event)"
    ></app-route-form>
  </div>
</ng-template>
