<app-empty-layout>
  <div
    class="auth-container col-12 flex align-items-center justify-content-center p-0 absolute bottom-0 left-0 right-0"
  >
    <div class="image-container relative">
      <img src="/assets/images/golden-bridge.jpg" alt="Cover" class="absolute top-0 left-0" />
      <div class="introduction">
        <h2 class="text-primary">WE ARE VIETNAM HAPPY TRIIP</h2>
        <p class="text-xl">A big company of high-quality vehicles that can take you everywhere in Vietnam!</p>
      </div>
    </div>
    <div class="login-card col-12 lg:col-6">
      <div class="login-content w-full p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</app-empty-layout>
