<div class="customer-rights-container">
  <div class="header">
    <div class="lg:ml-2 title">
      <h1 class="text-white lg:font-bold lg:text-6xl text-4xl  font-medium">Customer's Rights</h1>
      <h4 class="text-white lg:text-2xl text-xl  font-normal lg:font-medium">Last updated: 28 March 2023</h4>
    </div>
  </div>

  <div class="content xl:mx-6 xl:mt-4 lg:flex m-auto gap-5 font-normal md:block px-3 py-4 lg:px-8">
    <div class="main flex-1 w-full mb-3 px-3 py-2 lg:px-5 xl:px-6 xl:py-5">
      <p class="font-medium">Passengers' Rights in Viet Nam Travel Bus</p>
      <p>
        On the website www.travelbus.vn, you may find out everything about your legal rights on our buses and coaches.
        The satisfaction of clients is our top priority. Finding the best answer to every passenger's issue and ensuring
        customer satisfaction on every trip is a goal we are constantly dedicated to achieving. Never hesitate to get in
        touch with us if there is anything unexpected during your trip. Please get in touch with our customer assistance
        staff via the form below.
      </p>
      <ul>
        <li>Hotline: 1900 25 25 65</li>
        <li>Whatsapp/zalo: +84812995715</li>
        <li>
          Fanpage:
          <br />
          https://www.facebook.com/vietnamtravelbus
        </li>
      </ul>
      <p class="font-medium ">A. Passengers' rights in the vehicle</p>
      <p class="font-medium">The right to the non-discriminatory contract of carriage conditions.</p>
      <ul>
        <li>
          When purchasing tickets for passenger transport services by bus and coach, all customers are treated equally,
          without discrimination directly or indirectly for any reason.
        </li>
        <li>
          In passenger transport, TravelBus will issue tickets to passengers (possibly in electronic form), ensuring the
          arrangement of amenities following the committed information on the ticket.
        </li>
      </ul>

      <p class="font-medium">Right to Information</p>
      <ul>
        <li>
          All passengers on the bus route have the right to be fully informed during the entire trip. This includes the
          right to be informed of Passenger Rights and Notice of necessary communication channel details to TravelBus
        </li>
        <li>
          All relevant general information and conditions of carriage must be made available to the disabled and
          disabled in the most accessible form, or through assistance from TravelBus and the driver on board.
        </li>
        <li>
          In case of cancellation or late departure, the carrier or operator will notify the departing passenger as
          quickly as possible, however no later than 30 minutes after the scheduled departure time of the situation,
          Information about expected departure time will be communicated to customers.
        </li>
        <li>
          If a passenger misses a trip, TravelBus will make every reasonable effort to notify them of alternative trips.
          Where feasible, TravelBus also transmits this information in the form of text messages or electronic emails if
          the passenger has provided the necessary contact details to TravelBus.
        </li>
      </ul>

      <p class="font-medium">Right to compensation and assistance in the event of an accident</p>
      <ul>
        <li>
          In our service, passengers are entitled to compensation for death or personal injury and loss or damage to
          luggage as a result of using a bus or coach in an accident. The conditions and amount of compensation are
          subject to applicable national law. Compensations are not automatic but must be enforced before the courts if
          necessary.
        </li>
        <li>
          All trips have been purchased with full risk insurance, covering all damages and especially those related to
          damage to passengers.
        </li>
        <li>
          In addition, the carrier must provide immediate and appropriate assistance following an accident in the
          carriage service, related to the immediate practical needs of the passenger. That support will include
          accommodation, food, clothing, transportation, and first aid.
        </li>
      </ul>

      <p class="font-medium">Right to Continue Itinerary and Refund on Cancellation or Long Delay</p>
      <ul>
        <li>This claim and refund of fare do not preclude the passenger's rights.</li>
        <li>
          If the bus is not operating at the time the customer has purchased the ticket for the trip, the Carrier will
          send another bus to the place where you find the bus to be inoperable to take the passenger to their
          destination or to the destination appropriate terminal or terminal, from which the customer journey will be
          able to continue.
        </li>
      </ul>
      <p class="font-medium">Right to be assisted in the process of cancellation or delay of departure</p>
      <ul>
        <li>
          On long-haul services of more than three hours, full assistance is provided to passengers, if the trip is
          canceled or departure from the arrival stop is delayed by more than 90 minutes. This includes snacks, meals
          and refreshments, and accommodation if needed.
        </li>
      </ul>
      <p class="font-medium">Rights of People with Disabilities and People with Impaired Mobility **</p>
      <ul>
        <li>
          For people with disabilities and people with reduced mobility, the rights of passengers generally apply when
          traveling by bus as well as the following rights so that they can use travel opportunities like other citizens
          with special privileges upon request or from the support requested by TravelBus for the driver.
        </li>
      </ul>
      <p class="font-medium">a) Requesting Persons with Disabilities and Impaired Access to Free Services</p>
      <ul>
        <li>
          Carriers, travel agents, or tour operators may not charge additional booking and ticketing fees for persons
          with disabilities and mobility impairments. They are also not allowed to refuse to make a reservation, issue a
          ticket, or disembark such a person due to a passenger's disability or reduced mobility. By applicable
          passenger safety regulations or the health and safety requirements of the competent authorities, exceptions
          are allowed only if it is not possible to transport a disabled or impaired person. mobility or if this is not
          possible due to the design of the vehicle or infrastructure to safely and operationally transport disabled or
          reduced mobility persons
        </li>
        <li>
          If the carrier, travel agent, or tour operator involved in long-distance traffic refuses to make a
          reservation, issue a ticket or board a passenger for the above reasons, it must notify the passenger
          immediately. - and in writing at its request - about why. In addition, the relevant person will be notified in
          the event of a refusal to accept a reservation or issue a ticket, through any acceptable alternative service
          operated by the carrier. If the reasons for a passenger's refusal to book or board the bus can be remedied,
          for example by having someone present who can provide the necessary assistance, then the passenger has the
          right to request that the accompanying person be allowed to travel. free...
        </li>
        <li>
          If a person with a disability or mobility impairment who has a ticket or a reservation and is duly notified by
          the carrier of their special assistance needs, is still denied carriage on long routes, they may choose to
          refund the fare and - provided appropriate services are available - onward journey.
        </li>
        <li>
          The carrier provides non-discriminatory access conditions for the carriage of persons with disabilities and
          mobility impairments. TravelBus transportation partners must make the conditions of carriage available to the
          public and, upon request, passengers must be physically ready to ride.
        </li>
      </ul>
      <p class="font-medium">b) Right to special support</p>
      <ul>
        <li>
          In long-distance transport, carriers, and terminal operators within their respective jurisdictions must assist
          disabled and disabled persons.
        </li>
        <li>
          Persons with disabilities and people with reduced mobility must notify the carrier at least 36 hours in
          advance of their special assistance needs and arrive at the agreed time before departure (up to 60 minutes).
          in advance) at the specified bus station location.
        </li>
      </ul>
      <p class="font-medium">c) Right to compensation for lost or damaged Mobile Device</p>
      <ul>
        <li>
          If, due to the carrier's fault, loss or damage to the mobility device (wheelchair or other assistive devices)
          occurs, compensation shall be made, corresponding to the replacement value of the equipment concerned or the
          cost of repair
        </li>
        <li>
          Where necessary, every effort is made to procure temporary replacements for lost or damaged mobility devices.
        </li>
      </ul>
      <p class="font-medium">C. Right to File a Complaint with a Service Provider or Law Enforcement</p>
      <ul>
        <li>
          The carrier will notify the passenger within one month of receipt of the complaint, whether their claim is
          upheld, denied, or still being processed. Within three months of receiving the complaint, TravelBus must send
          the complainant a definitive answer.
        </li>
        <li>
          The periods mentioned do not apply when it comes to matters relating to compensation for death or personal
          injury and lost or damaged baggage as a result of an accident.
        </li>
      </ul>
      <p class="font-medium">Exercising Passengers' Rights</p>
      <ul>
        <li>
          Each passenger may file a complaint alleging a violation of the Regulation at the relevant national
          enforcement agency. A Member State may decide that a passenger must first appeal to the carrier; in this case,
          the national enforcement agency acted as the complaint body for complaints that did not find a solution
        </li>
      </ul>
    </div>
    <div class="menu max-h-20rem md:px-4 lg:px-6 lg:py-6">
      <h3 class="lg:text-3xl md:mb-4 text-2xl mb-3">Other policies</h3>
      <div class="policy-list flex flex-column">
        <div class="policy-item">
          <a href=""><span class="label">Booking Policy</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Privacy Policy</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Baggage Regulations</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Frequently Asked Questions</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
