:host ::ng-deep .normal-seat {
  color: white;
  background-color: var(--normal-seat);
}

:host ::ng-deep .vip-seat {
  color: white;
  background-color: var(--vip-seat);
}

:host ::ng-deep .sc-seat-reserved {
  background-color: var(--seat-reserved);
}

.submit {
  margin-left: 570px;
}
