<div class="news-management">
  <app-news-listbox
    (selectedNews)="onSelectedNewsChange($event)"
    (isUpdateMode)="onUpdateModeChange($event)"
    (isNewsFormVisible)="onFormVisibleChange($event)"
  ></app-news-listbox>
  <app-news-form
    *ngIf="isNewsFormVisible"
    class="w-full"
    [selectedNews]="currentNews"
    (cancelNewsForm)="cancelNewsForm($event)"
    (removeNewsForm)="removeNewsForm()"
    [updateMode]="isUpdateMode"
    (form)="handleNewsForm($event)"
  ></app-news-form>
</div>
