@mixin info-line {
  gap: 0.75em;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  min-height: 1.875rem;
}
p-table.p-element {
  width: 760px;
}

th.data {
  background: white;
  font-weight: 500;
  color: #78787c;
}
