<div class="privacy-policy-container">
  <div class="header">
    <div class="lg:ml-2 title">
      <h1 class="text-white lg:font-bold lg:text-6xl text-4xl font-medium">Privacy Policy</h1>
      <h4 class="text-white lg:text-2xl text-xl font-normal lg:font-medium">Last updated: 28 March 2023</h4>
    </div>
  </div>

  <div class="content xl:mx-6 xl:mt-4 lg:flex m-auto gap-5 font-normal md:block px-3 py-4 lg:px-8">
    <div class="main flex-1 w-full mb-3 px-3 py-2 lg:px-5 xl:px-6 xl:py-5">
      <p>
        We, Travel Bus , including our subsidiaries (hereinafter collectively referred to as “ Travel Bus ”, “ we ” or “
        we ”), would like to inform you about data protection. data at Travel Bus.
      </p>
      <p>
        Data protection regulations to protect those affected by data processing (we hereinafter refer to you as “data
        subject” , as well as “customer”, “user” or “you”, ).
      </p>
      <p>
        The purpose of this policy (hereinafter referred to as the “privacy policy” ) is to inform you about how we
        process your personal data.
      </p>
      <p class="font-medium text-xl">1 . General information</p>
      <p class="font-medium text-xl">1.1 Definition of Terms</p>
      <p>This Privacy Policy is based on the following terminology definitions:</p>
      <ul>
        <li>
          “Personal data” means any information relating to an identified or identifiable natural person (“data
          subject”). Identifiable natural person is a person who can be identified, directly or indirectly, in
          particular by reference to an identifier such as name, identifier, location data, online identifier or one or
          more specific physical, physiological, genetic, mental, economic, cultural or social factors of that natural
          person. Identity can also be provided by associating that information or other additional knowledge. This is
          independent of the appearance, form or physical embodiment of the information (photos, videos or audio
          recordings may also contain personal data).
        </li>
        <li>
          “Processing” means any activity or set of activities performed on personal data or on a collection of personal
          data, whether or not by automated means (i.e., assisted by technology). This includes, in particular,
          collecting (i.e. procuring), recording, organizing, structuring, storing, adapting or changing, retrieving,
          consulting, using, disclosing by transmission upload, disseminate or make available, adapt or combine,
          restrict, erase or destroy personal data as well as change the definition of the objective or purpose for
          which it was originally used for processing. data handling.
        </li>
        <li>
          “Controller” means a natural or juridical person, public authority, authority or other authority, alone or
          together with others, who determines the purposes and means of processing personal data.
        </li>
        <li>
          “Processor” means a natural or legal person, public authority, agency or other body that processes personal
          data on behalf of the controller, in particular in accordance with the instructions of such authority.
        </li>
        <li>
          “Third party” means a natural or juridical person, public authority, agency or other entity that is not a data
          subject, controller, processor and persons, under the direct authority of the user. controller or processor,
          authorized to process personal data; this also includes other legal entities of the group.
        </li>
        <li>
          “Consent” by data subject means any indication given freely, specifically, informed and unambiguously about
          the wishes of data subject which he or she, by a statement or by an express affirmative act, indicating
          consent to the processing of personal data concerning him or her.
        </li>
      </ul>
      <p class="font-medium text-xl">1.2 Name and address of the Controller</p>
      <ul>
        <li>The person responsible for processing your personal data is:</li>
        <li>TravelBus</li>
        <li>Address: 15 Thanh Luong 25, Da Nang City</li>
        <li>Phone: 1900252565 or +84 2367776888</li>
        <li>Email: vexelimo@gmail.com</li>
      </ul>
      <p class="font-medium text-xl">1.3 Contact details of data protection officer</p>
      <p>
        Our company data protection officer is available to assist you at any time to answer all your questions and as a
        contact person on the subject of data protection.
      </p>
      <p class="font-medium text-xl">1.4 Legal basis for data processing</p>
      <p>
        The processing of personal data is permitted if it complies with at least one of the legal bases listed below:
      </p>

      <ul>
        <li>
          The data subject has consented to the processing of their personal data for one or more specific purposes:
        </li>
        <li>
          The processing is necessary to perform the contract to which the data subject is a party or to take the steps
          required by the data subject before entering into the contract;
        </li>
        <li>
          The processing is necessary to perform the contract to which the data subject is a party or to take the steps
          required by the data subject before entering into the contract;
        </li>
        <li>
          The processing is necessary to carry out a task carried out in the public interest or in the exercise of
          official authority vested in the controller; or
        </li>
        <li>
          The processing is necessary to protect the legitimate interests of the controller or third party, unless the
          data subject's opposing interests or rights prevail (especially when the data subject is a child).
        </li>
      </ul>
      <p>
        For processing performed by us, we specify the applicable legal basis under Clause 2. Processing may also be
        based on a variety of legal bases.
      </p>

      <p class="font-medium text-xl">1.5 Recipient Type</p>

      <p>
        Under certain conditions, we transmit your personal data to our subsidiaries, or personal data from our
        subsidiaries are transferred to us, to the extent permitted.
      </p>
      <p>
        As with any large company, we also use domestic and foreign service providers to handle our business
        transactions and work with domestic and foreign partner companies. These include, for example:
      </p>

      <ul>
        <li>service providers (you can find an overview of current service providers here ), Service Provider (IT),</li>
        <li>Service Provider (IT),</li>
        <li>financial institutions and payment service providers,</li>
        <li>sales partner,</li>
        <li>customer service providers (internal/external),</li>
        <li>store operator,</li>
        <li>security company,</li>
        <li>(travel) insurance company,</li>
        <li>
          other partners involved in our business (e.g. auditors, banks, insurance companies, attorneys, supervisors,
          other parties involved in company acquisitions).
        </li>
      </ul>

      <p class="font-medium text-xl">a) Requesting Persons with Disabilities and Impaired Access to Free Services</p>
      <ul>
        <li>
          Carriers, travel agents or tour operators may not charge additional booking and ticketing fees for persons
          with disabilities and mobility impairments. They are also not allowed to refuse to make a reservation, issue a
          ticket, or disembark such person due to a passenger's disability or reduced mobility. In accordance with
          applicable passenger safety regulations or the health and safety requirements of the competent authorities,
          exceptions are allowed only if it is not possible to transport a disabled or impaired person. mobility or if
          this is not possible due to the design of the vehicle or infrastructure to safely and operationally transport
          disabled or reduced mobility persons.
        </li>
        <li>
          If the carrier, travel agent or tour operator involved in long-distance traffic refuses to make a reservation,
          issue a ticket or board a passenger for the above reasons, it must notify the passenger immediately. - and in
          writing at its request - about why. In addition, the relevant person will be notified in the event of a
          refusal to accept a reservation or issue a ticket, through any acceptable alternative service operated by the
          carrier. If the reasons for a passenger's refusal to book or board the bus can be remedied, for example by
          having someone present who can provide the necessary assistance, then the passenger has the right to request
          that the accompanying person be allowed to travel free.
        </li>
        <li>
          If a person with a disability or mobility impairment who has a ticket or a reservation and is duly notified by
          the carrier of their special assistance needs, is still denied carriage on long routes, the they may choose to
          refund the fare and - provided appropriate services are available - onward journey.
        </li>
        <li>
          The carrier provides non-discriminatory access conditions for the carriage of persons with disabilities and
          mobility impairments. TravelBus transportation partners must make the conditions of carriage available to the
          public and, upon request, passengers must be physically ready to ride.
        </li>
      </ul>

      <p>
        Service providers and partner companies must ensure that appropriate technical and organizational measures are
        taken by them in such a way that processing meets the legal requirements and rights of data subjects, protected.
      </p>
      <p>
        We transmit personal data to public institutions and organizations (e.g., law enforcement, state or county
        attorney's office, supervisory authority) if there is a corresponding obligation/authorization.
      </p>
      <p>
        For the processing performed by us, we specify the category of the data recipient in accordance with Clause 2.
      </p>

      <p class="font-medium text-xl">1.6 Data storage and erasure duration</p>
      <p>
        The retention period of the personal data collected depends on the purposes for which we process the data. The
        data will be stored for as long as necessary to achieve the intended purpose.
      </p>
      <p>
        In the case of processing performed by us, we specify how long we will store the data in Clause 2. If there is
        no clear retention period set out below, your personal data you will be deleted or blocked as soon as the
        purpose or legal basis for hosting no longer applies.
      </p>
      <p>
        However, the storage may be extended beyond the specified period in the event of (n) (imminent) legal dispute
        with you or if other legal proceedings are commenced or if the archiving are regulated by statutory provisions
        to which we as controllers must abide. If the statutory retention period expires, personal data will be locked
        or deleted unless we require further storage as required by law.
      </p>

      <p class="font-medium text-xl">1.7 Automated Decision Making (Including profiling)</p>
      <p>
        We do not intend to use any personal data collected from you for any process involving automated decision making
        (including profiling). If we wish to carry out these proceedings, we will separately notify you of this in
        accordance with the provisions of the law.
      </p>
      <p class="font-medium text-xl">1.8 No obligation to provide personal data</p>
      <p>
        Basically, we do not enter into a contract with us, but depend on you providing us with personal data in
        advance. In principle, there is also no statutory or contractual obligation to provide us with your personal
        data; however, we may only offer certain offers to a limited extent, or may not offer them at all if you do not
        provide the necessary data for this.
      </p>

      <p class="font-medium text-xl">1.9 Your Rights</p>
      <p>
        Right to Information You may request information about your personal data processed by us. In your request for
        information, you should state your concerns to make it easier for us to compile the required data. Upon request,
        we will provide you with a copy of the data that is the subject of the processing. Please note that your right
        to information may be restricted in certain circumstances as required by law.
      </p>
      <p>
        Right to Edit If the information relating to you is not or is no longer accurate, you can request an correction
        . If your data is incomplete, you can request it to be completed.
      </p>
      <p>
        Right to Erase You can request deletion of your personal data . Your right to deletion, among other things,
        depends on whether data relating to you is still required by us to perform our statutory duties.
      </p>
      <p>
        Right to Restrict Processing In accordance with the regulations , you have the right to request restriction of
        the processing of data relating to you.
      </p>
      <p>
        Right to data portability In accordance with the regulations , you have the right to receive the data you have
        provided to us in a structured, commonly used and machine readable format or request transmit data to another
        controller.
      </p>
      <p>
        Subject Rights You have the right to object to the processing of your data at any time for reasons related to
        your particular situation. You may object to receiving advertising at any time with effect for the future, in
        accordance with the Regulations.
      </p>
      <p>
        Right to Complain If you believe that we have not complied with the provisions of the data protection
        regulations when processing your data, you can file a complaint with the data protection supervisory authority
        regarding the processing of your data. handle your personal data, such as data watchdog protection for which we
        are responsible.
      </p>
      <p>
        Right to withdraw consent You may withdraw your consent to the processing of your data at any time with effect
        in the future.
      </p>

      <p class="font-medium text-xl">2. Special Information</p>
      <p class="font-medium text-xl">2.1 Visit our website</p>
      <p>
        Information about TravelBus and the services we provide can be found specifically at https://travelbus.vn
        including linked subsites (hereinafter collectively referred to as “ website ” or “ websites ”). When you visit
        our websites, your personal data is processed.
      </p>

      <p class="font-medium text-xl">2.1.1 Website provisioning</p>
      <p>
        When websites are used for information purposes, we collect, store and process the following types of personal
        data: Log data: when you visit our websites, a log of log data (referred to as a “server log file”) is stored on
        our web server. This includes:
      </p>
      <ul>
        <li>the page from which the page was requested (called the referrer URL),</li>
        <li>the name and URL of the requested page,</li>
        <li>date and time of the access request (in the server's time zone),</li>
        <li>the version of the web browser used,</li>
        <li>the IP address of the requesting computer,</li>
        <li>amount of data to be transferred,</li>
        <li>operating system,</li>
        <li>a message indicating whether the call was successful (access status / Http status code),</li>
        <li>GMT time zone difference.</li>
      </ul>
      <p>We use IT service providers to host our websites and to statistically evaluate log data.</p>
      <p>
        The processing of log data serves statistical purposes and improves the quality of our website, especially the
        stability and security of the connection.
      </p>

      <p class="font-medium text-xl">2.1.2 Contact form</p>
      <p>
        When using the contact form, the data transmitted is therefore processed (e.g. title, first and last name,
        address, company, email address and time of transmission, reason for request).
      </p>
      <p>
        Contact form data processing takes place to process inquiries and, depending on the basis and reasons for your
        request, on legal grounds , if it involves a related investigation. in connection with a contract or in other
        cases on a legal basis ; It is in our legitimate interest to process contact requests.
      </p>
      <p>We use customer service providers to handle the work of answering inquiries made through our contact forms.</p>
      <p>
        In addition, we store contact form data as well as the corresponding IP address to comply with our obligations
        to provide evidence, ensure compliance, and document legal obligations, to obtain can clarify any possible abuse
        of your personal data and to ensure the security of our system.
      </p>

      <p class="font-medium text-xl">2.1.3 Booking, provision and processing of transportation services</p>
      <p>
        When booking tickets for transportation services, we collect, store and process the following types of personal
        data:
      </p>
      <ul>
        <li>email address,</li>
        <li>first and last name</li>
        <li>connection data,</li>
        <li>payment data,</li>
        <li>date of birth (for discounted child transfers),</li>
        <li>agree to the respective terms and conditions,</li>
        <li>reservation information,</li>
        <li>baggage details,</li>
        <li>the language of the reservation domain,</li>
        <li>booking channel (web or app).</li>
      </ul>
      <p>
        You also have the option to provide a contact phone number in the event of a delay or change in your trip
        itinerary (optional).
      </p>
      <p>
        These data are processed to book, provide and process transportation services, including customer service, as
        well as to fulfill legal obligations.
      </p>
      <p>We also use some of this data for product recommendations.</p>
      <p>
        When booking tickets for international transport services, the following types of personal data are also
        collected depending on the destination and destination:
      </p>

      <ul>
        <li>gender information,</li>
        <li>identification, passport or ID number,</li>
        <li>information regarding measures to prevent the COVID-19 (coronavirus) pandemic.</li>
      </ul>
      <p>
        These data are processed to book, provide and process transportation services, including customer service, as
        well as to fulfill legal obligations.
      </p>
      <p>
        We transfer the above-mentioned data to the respective service provider or service providers, as well as to
        public organizations if there is a corresponding obligation/authorization.
      </p>
      <p>
        Necessary payment data will be transferred to the payment service provider for secure processing of payments
        made by you.
      </p>

      <p class="font-medium text-xl">2.1.4 Product recommendations</p>
      <p>
        To the extent permitted, we may use email addresses received in connection with booking or shipping services to
        send you regular email offers for products from our range of similar as purchased products.
      </p>
      <p>We use external customer service providers as processors for submitting product recommendations.</p>
      <p>
        You will receive these product recommendations from us regardless of whether you have signed up for the
        newsletter or have agreed to participate in email marketing communications. In this way, we would like to
        provide you with information about products in our range that may be of interest to you, based on your recent
        purchases with us.
      </p>
      <p>
        You may object to the use of your email address for this purpose at any time by using the unsubscribe link in
        the product recommendation or by sending a message to vexelimo@gmail.com.
      </p>

      <p class="font-medium text-xl">2.1.5 Newsletter</p>
      <p>
        If you also subscribe to our newsletter via our subscription link, we ask that you consent to the processing of
        your data (email address, first and last name, place of residence) in order to regularly send you our newsletter
        by email.
      </p>
      <p>
        As part of your subscription to the newsletter, we also obtain your consent that we may personalize the content
        of our newsletter to your needs and interests.
      </p>
      <p>
        To subscribe to our newsletter, we use a “double opt-in” process. This means that after you sign up, we'll send
        an email to the email address you provided, asking you to confirm that you'd like to receive the newsletter. If
        you do not confirm your subscription within 24 hours, your information will be locked and automatically deleted
        after one month.
      </p>
      <p>
        The newsletter may relate to all goods, services, products, offers and promotions offered by the controller
        (Clause 1.2) and/or by companies affiliated with the controller or by the controllers partner companies.
      </p>
      <p>
        In addition, we store the IP addresses you use and the registration and confirmation times. The purpose of the
        procedure is to prove that you have registered and, if necessary, to be able to clarify any possible misuse of
        personal data. If we process your personal data for this purpose, it is done on the basis of our legitimate
        interest in ensuring compliance and documentation of legal requirements.
      </p>
      <p>
        You can revoke the use of your email address at any time by using the unsubscribe link in the newsletter or by
        sending a message to vexelimo@gmail.com. The legitimacy of the data processing operations performed remains
        unaffected by the revocation.
      </p>
      <p>We use external IT service providers who act as processors for newsletter delivery.</p>

      <p class="font-medium text-xl">2.1.6 Customer accounts</p>
      <p>
        Individual client account with us. In the password-protected area of your customer account, you can conveniently
        manage your bookings and store data for future journeys.
      </p>
      <p>To create a customer account, the following required information is collected:</p>
      <ul>
        <li>email address,</li>
        <li>first and last name,</li>
        <li>password (optional).</li>
      </ul>
      <p>We use this data to manage your customer accounts and to generate invoices.</p>
      <p>
        Alternatively, you can also enter a mobile phone number into your customer account so that we can contact you in
        the event of a delay or change in your trip itinerary (optional).
      </p>
      <p>You may also choose to store the following additional data in your customer account (optional):</p>
      <ul>
        <li>Title,</li>
        <li>Date of birth,</li>
        <li>address (area code, city and country),</li>
        <li>payment methods.</li>
      </ul>
      <p>
        These data are used to manage your customer accounts and invoicing, and can also be used to send personalized
        product recommendations.
      </p>
      <p>
        If you have consented, a “persistent” cookie will be stored on your device with a “stay signed in” function;
        Their purpose is to ensure that you do not have to log in again on subsequent visits to our website. This
        functionality is not available to you if you have deactivated the storage of such cookies in your browser
        settings.
      </p>
      <p>
        You can update or delete your customer account - and therefore your stored personal data - at any time in your
        personal customer account.
      </p>

      <p class="font-medium text-xl">2.1.7 Use of cookies, plugins and other services</p>
      <p>
        When you visit our website, information in the form of a cookie (small text file) is stored on your terminal. It
        stores information about how you use the website (identification ID, access date, etc.). With the use of
        cookies, we make it easier for you to use our website with various service functions (such as identification of
        previous visits) and as a result, we can Customize your website to better suit your needs.
      </p>
      <p>
        You can prevent cookies from being saved and delete existing cookies by changing your browser settings
        accordingly. The help function of most browsers tells you how to make these settings. However, if you do not
        accept cookies, the service features of the Internet service may be impaired. Therefore, we recommend that you
        enable cookie functionality.
      </p>
      <p>
        Temporary cookies, also known as in-memory cookies or “session cookies”, are cookies that are deleted after you
        leave our website and close your browser. For example, these cookies typically save the language settings or the
        content of the order. Persistent or permanent cookies are stored even after the browser is closed. This allows
        for example to save the login status or any search terms that have been entered. We use such cookies, among
        other things, to measure reach or for marketing purposes. Persistent cookies are automatically deleted after a
        specific period of time, which may vary depending on the cookie. However, you can delete these cookies at any
        time in your browser's privacy settings.
      </p>
      <p>
        In addition to the so-called “first party cookies”, which we set as a controller to process data, “third-party
        cookies” are also used by other providers.
      </p>
      <p>
        As part of consent management (consent banner), we give you the opportunity to decide between the use of cookies
        and the use of equivalent technologies. A detailed overview with comprehensive information about the services
        used and access to your consent settings, including the possibility of revocation, can be found here.
      </p>
      <p class="font-medium text-xl">2.2 Customer Service</p>
      <p>
        When you contact our customer service, we automatically collect the personal data you provide to us. For
        example, you may send this information to us by email, phone or mail. Your personal data will only be used to
        contact you or for the purposes for which you have provided us with this data, for example, to process your
        inquiries, technical or administrative administration, customer value.
      </p>
      <p>
        This data (including contact information such as email addresses, phone numbers) is provided on a voluntary
        basis. We use data to process your concerns, to fulfill legal obligations where necessary, and for
        administrative purposes.
      </p>
      <p>
        In the case of a phone request, your data is also processed by phone applications and partly also through a
        dialogue system to assist us in the delivery and processing of requests.
      </p>
      <p>For our customer service, we use external customer service providers as processors.</p>
      <p class="font-medium text-xl">2.3 Presence on social media channels</p>
      <p>
        We have a presence on social media (currently: Facebook, Instagram, LinkedIn and Twitter). To the extent that we
        have control over the processing of your data, we ensure that applicable data protection regulations are
        followed.
      </p>
    </div>
    <div class="menu max-h-20rem md:px-4 lg:px-6 lg:py-6">
      <h3 class="lg:text-3xl md:mb-4 text-2xl mb-3">Other policies</h3>
      <div class="policy-list flex flex-column">
        <div class="policy-item">
          <a href=""><span class="label">Booking Policy</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Customer's Rights</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Baggage Regulations</span></a>
        </div>
        <div class="policy-item">
          <a href=""><span class="label">Frequently Asked Questions</span></a>
        </div>
      </div>
    </div>
  </div>
</div>
